:host {
	display: block;
	width: 100%;
	height: 100%;
}

.dropzone {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px dashed #444;
	transition:
		background-color 0.2s,
		border-color 0.2s;
	color: white;
}

.dropzone.dragging {
	background-color: rgba(255, 255, 255, 0.1);
	border-color: #fff;
}

.dropzone-content {
	text-align: center;
}

video {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: contain;
}
